.facility {
    background-color: var(--dark-gray);
    padding: 1.5rem 0;
}

.facility__card--container {
    display: flex;
    flex-direction: column;
    max-width: 61rem;
    margin: 0 auto;
}

.facility__card {
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}

.facility__title {
    color: var(--gray);
    font-size: 1.25rem;
    font-weight: var(--semi-bold);
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 0 1.69rem;
}

.facility__content {
    width: 15.0625rem;
}

.facility__card--img-container {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facility__card--title {
    color: var(--green);
    font-weight: var(--semi-bold);
    text-transform: uppercase;
    font-size: 1rem;
}

.facility__card--description {
    margin-top: 1rem;
    font-weight: var(--light);
    font-size: .8125rem;
    word-break: break-word;
}

@media screen and (min-width: 1040px) {
    .facility__card--container  {
        flex-direction: row;
        display: flex;
    }
}