header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2rem;
    height: 7.375rem;
}

.logo__container--mobile {
    position: absolute;
    top: 1.8125rem;
    left: 1rem;
}

.header__logo--tablet {
    display: none;
}

@media screen and (min-width: 768px) {
    header {
        height: 3.625rem;
        margin-bottom: 0;
    }
    
    .header__logo--mobile {
        display: none;
    }

    .header__logo--tablet {
        display: block;
    }

}
